section {
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
}

.hero {
    background-color:rgb(42, 5, 71) ;
    height: 100vh;
    color: white;
    font-size: 40px;

}

footer {
    height: 500px;
    background-color: black;
}
